html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


* {
    margin: 0;
    padding: 0;
}
nav{
    font-size: 1.8rem;
}
main {
    text-align: center;
    font-size: 1.3rem;
    padding: 0 64px;
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}

ul, ol {
    list-style-position: inside;
}

p, li{
    font-size: 1.4rem;
}

a {
   text-decoration: none;
   color: black;
   margin-left: 1rem;

}

a:hover {
    text-decoration: underline;
}