html{
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:border-box;
}

*{
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.title {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}


.listItem {
    font-size: 2rem;
    margin-bottom: 1rem;
}

a {
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: gray;
}
